@charset "utf-8";
/* CSS Document */



/* sub */
.sub_visual h2 { padding:150px 0; font-weight: 400; font-size:4rem; text-transform:uppercase; text-align:center; color:#FFF; }

.bg_cs { background:url('../images/sub/sv_cs.jpg') no-repeat center / cover; }




/* cs center */
.notice { padding: 150px; }

@media (max-width:1600px) {
    .notice { padding: 150px 100px; }
}

@media (max-width:1400px) {
    .notice { padding: 150px 50px; }
}

@media (max-width:1200px) {
    .notice { padding: 100px 0; }
}


.notice .notice_search { text-align:right; height:35px; margin-bottom:20px; }
.notice select { width:80px; height:30px; padding:4px; border: 1px solid #CCC; }
.notice input[type="text"] { border:1px solid #CCC; padding:5px; width: 14.255%; min-width: 120px; height:30px; }
.notice input[type="submit"] { padding:5px 0; color:#FFF; background: #333; border:1px solid #333; width: 60px; height:30px; }

.notice table th { padding:25px 20px 20px; border-top:1px solid #666; border-bottom:1px solid #ccc; }
.notice table td { padding:20px 20px 15px; border-bottom:1px solid #f0f0f0; text-align:center; }

.notice table tr td:nth-child(1) { width: 10%; }
.notice table tr td:nth-child(2) { width: 65%; max-width: 200px; text-align:left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.notice table tr td:nth-child(3) { width: 15%; }
.notice table tr td:nth-child(4) { width: 10%; }

.notice a { transition: color 0.3s; }
.notice a:hover { color: #758246; }


.notice .pagebox { padding-top:40px; }
.notice .page { text-align:center; }
.notice .page li { display:inline-block; border:1px solid #ddd; width: 30px; height: 30px; padding-top: 5px; text-align: center; }
.notice .page li.on { border:1px solid #758246; background:#758246; color:#FFF; }
.notice .page li:nth-child(1) { border:0; text-indent:-9999px; background:url(../images/sub/paging_first.png) no-repeat center center; cursor:pointer; }
.notice .page li:nth-child(2) { border:0; text-indent:-9999px; background:url(../images/sub/paging_prev.png) no-repeat center center; cursor:pointer; }
.notice .page li:nth-child(8) { border:0; text-indent:-9999px; background:url(../images/sub/paging_next.png) no-repeat center center; cursor:pointer; }
.notice .page li:nth-child(9) { border:0; text-indent:-9999px; background:url(../images/sub/paging_last.png) no-repeat center center; cursor:pointer; }



@media (max-width : 1024px) {
    .notice table { font-size: 1.4rem; }
    .notice table tr th:first-child,.notice table tr td:first-child { display: none; }
    .notice table tr th:last-child,.notice table tr td:last-child { display: none; }
}





