@charset "utf-8";

:root {
    --bg-color: #f9f1e9;
    --main-font: 'Noto Serif KR', serif;
}


body { font-family: var(--main-font); font-size: 1.6rem; line-height: 1.5; color: #000; }
#wrap { overflow-x: hidden; min-width: 300px; position: relative; }
.inner { max-width: 1700px; margin: 0 auto; padding: 0 5%; }



#header { padding: 50px 0 0; transition: padding 0.5s; position: absolute; left: 0; top: 0; width: 100%; z-index: 999; }
#header .inner { display:flex; justify-content: space-between; align-items: center; max-width: 100%; }

#header h1 img { display: block; }

#header .gnb { display: flex; }
#header .gnb > li { position: relative; }
#header .gnb > li > a { display: block; padding: 10px 20px 15px; }
#header .gnb > li:nth-child(n+5) a { color: #999; }

#header .depth2 { position: absolute; left: 50%; transform: translateX(-50%); top: 50px; background: #000; padding: 20px 20px 40px; width: 150px; border-radius: 10px; }
#header .depth2 > li { font-size: 1.4rem; text-align: center; padding: 3px 0; }
#header .depth2 > li > a { transition: opacity 0.5s; color: #fff; opacity: 0.7; }
#header .depth2 > li > a:hover { opacity: 1; }

#header .util { display: flex; gap: 20px; }

#header .ham { display: none; cursor: pointer; }



.dim { width: 100%; height: 100%; background: rgba(0,0,0,0.8); position: fixed; left: 0; top: 0; }
.mgnb_wrap { z-index: 999999; position: fixed; right: -100%; top: 0; width: 70%; height: 100%; background: var(--bg-color); padding: 100px 50px 50px; }
.mgnb > li { padding: 20px 0; border-bottom: 1px solid #ddd; text-transform: uppercase; }
.mdepth2 { padding: 10px 0 0 40px; }
.mdepth2 > li a { color:#666; font-size: 1.4rem; }
.mdepth2 > li { position: relative; }
.mdepth2 > li:before { content: ''; width: 5px; height: 5px; background: #999; border-radius: 50%; position: absolute; left: -13px; top: 10px; }
.mgnb_close { position: absolute; right: 0; top: 0; background: #000 url('../images/mgnb_close.png') no-repeat center; color: #fff; font-size: 0; width: 40px; height: 40px; cursor: pointer; }


/* Tablet */
@media (max-width : 1200px) {
    #header h1 img { width: 80%; }
	#header .gnb, #header .util { display:none; }
    #header .ham { display: block; }
}



.search { width: 100%; height: 100%; background: rgba(0,0,0,0.9); position: fixed; left: 0; top: 0; z-index: 999; display: flex; align-items: center; justify-content: center; }

.search input[type="text"] { width: 40vw; height: 60px; padding: 20px; font-size: 2rem; font-family: var(--main-font);  }
.search input[type="submit"] { width: 80px; height: 60px; background: #999; color: #fff; font-size: 2rem; font-family: var(--main-font); cursor: pointer; }

.search_close { position: absolute; right: 50px; top: 70px; }
.search_close { font-size: 0; width: 50px; height: 50px; cursor: pointer; }
.search_close:before { content: ''; display: block; width: 100%; height: 1px; background: #fff; transform: rotate(45deg); }
.search_close:after { content: ''; display: block; width: 100%; height: 1px; background: #fff; transform: rotate(-45deg); }


/* main */
#main section:not(#main_visual) { padding: 150px 0; text-align: center; }
#main .sub_title { color: #999; padding-bottom: 50px; }
#main .sub_title h2 { font-size: 1.2rem; letter-spacing: 2px; font-weight: 400; }
#main .sub_title h3 { font-size: 3.6rem; letter-spacing: -1px; padding: 10px 0 30px; color: #000; font-weight: 400; }
#main .btn_more { margin: 10px 0; display: inline-block; font-size: 1.4rem; border-bottom: 1px solid #000; }


@media (max-width : 1200px) {
    #main section:not(#main_visual) { padding: 100px 0; }
    #main .sub_title h2 { font-size: 1rem; }
    #main .sub_title h3 { font-size: 2.8rem; padding: 0; }
    #main .sub_title h3 + p { display: none; }
}

@media (max-width : 768px) {
    #main section:not(#main_visual) { padding: 60px 0; }
    #main .sub_title { color: #999; padding-bottom: 20px; }
    #main .sub_title h3 + p { display: none; }
}



/* main_visual */
#main_visual { background: #f9f1e9; position: relative; }
#main_visual .mv li { height: 100vh; position: relative; }
#main_visual .mv li img { width: 100%; height: 100%; object-fit: cover; }
#main_visual .mv li .mv_txt { position: absolute; top: 25vh; right: 5vw; text-align: right; }
#main_visual .mv li h2 { font-size: 3.6rem; font-weight: 400; }
#main_visual .mv li h2 span { font-size: 1.2rem; color: #999; letter-spacing: 2px; }

#main_visual .swiper-pagination { top: 50%; width: auto; left: auto; right: 5vw; }
#main_visual .swiper-pagination-current { font-size: 2.0rem; font-weight: 700; }


/* Tablet */
@media (max-width : 1200px) {
    #main_visual .mv li h2 { font-size: 3rem; }
}


@media (max-width : 768px) {
    #main_visual .mv li h2 { font-size: 2.2rem; letter-spacing: -1px; }
    #main_visual .swiper-pagination { display: none; }
}




/* story */
#story ul li img { width: 100%; }
#story dl dt { font-size: 2.4rem; }
#story dl dd:nth-of-type(1) { color: #999; padding: 10px 0; }

@media (max-width : 768px) {
    #story dl dt { font-size: 2rem; }
    #story dl dd:nth-of-type(1) { font-size: 1.4rem; }
}


/* product */
#product { background: #f9f1e9; }
#product ul li { transform: scale(0.9); transition: transform 0.5s, opacity 0.5s; opacity: 0.5; }
#product ul li.swiper-slide-active { transform: scale(1); opacity: 1; }
#product ul li img { width: 100%; display: block; border-radius: 50%; }
#product dl dt { font-size: 2rem; padding: 20px 0 10px; }
#product dl dd { color: #999; }




/* review */
#review video { width: 100%; height: 100%; object-fit: cover; max-width: 1200px; }




/* footer */
#footer { background:#eee; padding: 100px 0; }
#footer .inner { display: flex; gap: 50px; justify-content: center; flex-wrap: wrap; font-size: 1.4rem; line-height: 2; }
#footer address span { color: #999; }


@media (max-width : 768px) {
    #footer { padding: 50px 0; }
    #footer .inner { flex-direction: column; text-align: center; font-size: 1rem; }
}

