@charset "utf-8";

#header .gnb > li:nth-child(3) > a { color: #f05323; }
#header .gnb > li:nth-child(3) .depth2 { display: block; }
#header .gnb > li:nth-child(3) .depth2 li:first-child a::before { opacity: 1; margin: 0 8px 3px 0; }



