@charset "utf-8";

/* main */
h2 { display: inline-block; font-size: 2.5rem; color: var(--main-color); border-top: 2px solid var(--main-color); border-radius: 50%; padding: 20px 20px 0; font-family: var(--sub-font); }
h2 + p { font-size: 4rem; padding: 20px 0 50px; font-family: var(--sub-font); }
.btn_more a { transition: all 0.5s; display: inline-block; font-size: 1.8rem; padding-right: 25px; background: url("../images/main/more.png") no-repeat right center; }


@media (max-width:1200px) {
    h2 { font-size: 2rem; }
    h2 + p { font-size: 3rem; padding-bottom: 40px; }
}

@media (max-width:768px) {
    h2 { font-size: 1.6rem; }
    h2 + p { font-size: 2.5rem; padding-bottom: 30px; }
    .btn_more a { font-size: 1.4rem; }
}


/* visual */
.visual .swiper-slide { height: 100vh; display: flex; align-items: center; color: #fff; padding: 0 10vw; }
.visual .visual1 { background: url('../images/main/visual_01.jpg') no-repeat center / cover; }
.visual .visual2 { background: url('../images/main/visual_02.jpg') no-repeat center / cover; }

.visual h3 { font-size: 10rem; font-weight: 400; font-family: var(--sub-font); }
.visual p { padding: 20px 5px; font-size: 2.5rem; }

.visual .control { display: flex; left: 10vw; bottom: 10vh; position: absolute; z-index: 20; gap: 20px; align-items: center; }
.visual .swiper-button-prev::after { display: none; }
.visual .swiper-button-next::after { display: none; }
.visual .swiper-button-prev { width: 34px; height: 13px; position: static; margin: 0; background: url("../images/main/prev_w.png"); }
.visual .swiper-button-next { width: 34px; height: 13px; position: static; margin: 0; background: url("../images/main/next_w.png"); }
.visual .pause { width: 20px; height: 20px; font-size: 0; background: url("../images/main/btn_puase.png"); cursor: pointer; }
.visual .play { display: none; width: 20px; height: 20px; font-size: 0; background: url("../images/main/btn_play.png"); cursor: pointer; }

@media (max-width:1200px) {
    .visual h3 { font-size: 8rem; }
    .visual p { font-size: 2rem; }
}

@media (max-width:768px) {
    .visual h3 { font-size: 6rem; }
    .visual p { font-size: 1.6rem; }
}



/* best */
.best { padding: 150px 0; text-align: center; background: url('../images/main/best_bg.png') no-repeat center 0 / cover; }
.best .inner { position: relative; }
.best .best_list { padding-bottom: 50px; }
.best .swiper-slide { transform: scale(0.8); transition: transform 0.8s; }
.best .swiper-slide-active { transform: scale(1); }
.best .name { font-size: 2.5rem; font-weight: 500; padding: 40px 0 20px; }

.best .thumb { position: relative; }
.best .thumb img { width: 100%; display: block; }
.best .thumb img:nth-child(1) { opacity: 1; transition: all 0.5s; }
.best .thumb img:nth-child(2) { opacity: 0; transition: all 0.5s; position: absolute; left: 0; top: 0; width: 100%; }
.best .thumb:hover img:nth-child(1) { opacity: 0; }
.best .thumb:hover img:nth-child(2) { opacity: 1; }

.best .swiper-pagination { width: 70%; left: 50%; top: auto; bottom: 0; transform: translateX(-50%); height: 2px; background: #eee; }
.best .swiper-pagination span { background: var(--main-color); }

@media (max-width:1024px) {
    .best { padding: 100px 0; }
    .best .name { font-size: 2rem; }
}



/* brand */
.brand { height: 600px; display: flex; align-items: center; color: #fff; background: url("../images/main/brand_bg.jpg") no-repeat center / cover; }
.brand .brand_txt { display: flex; gap: 150px; flex-direction: row-reverse; }
.brand .brand_txt a { filter: invert(100%); color: #000; }

@media (max-width:1024px) {
    .brand { text-align: center; }
    .brand .brand_txt { flex-direction: column; gap: 30px; }
}



/* new */
.new { padding: 150px 0; background: #fffbeb; }
.new .s_title { text-align: center; }
.new .new_menu { display: flex; flex-wrap: wrap; gap: 30px; }
.new .new_list { width: 30%; }
.new .new_list button { transition: all 0.5s; background: transparent; background: #f4e7d0; font-size: 2rem; padding: 15px 25px; cursor: pointer; border-radius: 100px; margin: 0 0 10px; }
.new .new_list button.active { background: var(--main-color); color: #fff; }
.new .new_img { width: calc(70% - 30px); position: relative; }
.new .new_img img { width: 100%; display: block; border-radius: 30px; }

@media (max-width:1400px) {
    .new .new_list button { font-size: 1.8rem; padding: 10px 20px; }
}

@media (max-width:1200px) {
    .new { padding: 100px 0; }
    .new .new_menu > * { width: 100%; }
}

@media (max-width:768px) {
    .new .new_list button { font-size: 1.6rem; padding: 10px 20px; }
}




