@charset "utf-8";

:root {
    --main-font: 'pretendard', sans-serif;
    --sub-font: 'Mont', sans-serif;
    --main-color: #E70017;
}

/* 공통사항 */
body { overflow-x: hidden; font-family: var(--main-font); font-size: 1.6rem; line-height: 1.5; color: #000; }
#wrap { position: relative; padding: 100vh 0 0; }

/* 기준해상도 영역잡기 */
.inner { padding: 0 5%; max-width: 1700px; margin: 0 auto; }



/* header */
#header { position: absolute; left: 0; top: 0; width: 100%; z-index: 10; padding: 30px 0; }
#header .inner { display: flex; justify-content: space-between; align-items: center; }
#header h1 img { display: block; width: 200px; }

#header .gnb { display: flex; }
#header .gnb > li { position: relative; }
#header .gnb > li > a { display: block; padding: 10px 30px; font-size: 2rem; color: #fff; font-weight: 500; }

#header .gnb > li .depth2 { display: none; position: absolute; left: 20px; width: 150px; background: #fff; padding: 20px; }
#header .gnb > li:hover .depth2 li a { font-size: 1.5rem; display: block; padding: 3px 0; transition: all 0.5s; font-weight: 500; }
#header .gnb > li:hover .depth2 li a:hover { color: var(--main-color); }

#header .gnb > li:hover .depth2 { display: block; }

#header .ham { display: none; cursor: pointer; width: 24px; height: 18px; background: url('../images/ham.svg') no-repeat center; border: 0; font-size: 0; }

@media (max-width:1024px) {
    #header h1 img { width: 140px; }
    #header .gnb { display: none; }
    #header .ham { display: block; }
}



/* main */
#main { background: #fff; position: relative; }
#main section { padding: 160px 0; }
#main h2 { padding: 0 0 50px; text-transform: capitalize; font-size: 7rem; font-family: var(--sub-font); }
#main .btn_more a { margin-top: 30px; transition: all 0.5s; display: inline-block; padding: 10px 70px; background: var(--main-color); color: #fff; font-size: 2rem; border-radius: 50px; }
#main .btn_more a:hover { background: #000; }

@media (max-width:1200px) {
    #main section { padding: 120px 0; }
    #main h2 { font-size: 5rem; padding: 0 0 30px; }
}

@media (max-width:768px) {
    #main section { padding: 80px 0; }
    #main h2 { font-size: 3.5rem; padding: 0 0 20px; }
    #main .btn_more a { padding: 10px 30px; font-size: 1.4rem; }
}


/* main_visual */
#main_visual { height: 100vh; position: fixed; left: 0; top: 0; width: 100%; }

#main_visual .mv li.mv1 { background: url('../images/banner1.png') no-repeat center / cover; }
#main_visual .mv li.mv2 { background: url('../images/banner2.jpg') no-repeat center / cover; }

#main_visual .mv li .inner { position: relative; height: 100vh; display: flex; align-items: center; }
#main_visual .mv li .mv_txt { color: #fff; }
#main_visual .mv li .mv_txt h2 { font-size: 7rem; line-height: 1.2; }
#main_visual .mv li .mv_txt p { font-size: 3rem; padding: 30px 0; }

#main_visual .swiper-button-next { color: #fff; }
#main_visual .swiper-button-prev { color: #fff; }
#main_visual .swiper-pagination { top: auto; bottom: 10%; width: 80%; height: 2px; left: 50%; transform: translateX(-50%); background: rgba(255,255,255,0.3); }
#main_visual .swiper-pagination-progressbar-fill { background: #fff; }


@media (max-width:1200px) {
    #main_visual .mv li .mv_txt { transform: translateY(40%); }
    #main_visual .mv li .mv_txt h2 { font-size: 5.5rem; }
    #main_visual .mv li .mv_txt p { font-size: 2rem; padding: 20px 0; }
    #main_visual .swiper-button-next { display: none; }
    #main_visual .swiper-button-prev { display: none; }
}


@media (max-width:768px) {
    #main_visual .mv li .mv_txt { transform: translateY(80%); }
    #main_visual .mv li .mv_txt h2 { font-size: 4rem; }
    #main_visual .mv li .mv_txt p { font-size: 1.6rem; padding: 10px 0; }
}


#menu { text-align: center; }
#menu .menu_list img { width: 100%; }
#menu .menu_list li { transition: transform 0.5s; transform: scale(0.9,0.9); }
#menu .menu_list li:hover { transform: scale(1,1); }
#menu .menu_list li p { padding: 20px 0 0; font-size: 3rem; font-weight: 700; }
#menu .menu_list li p span { display: block; color: var(--main-color); font-size: 2rem; padding: 5px 0; }

@media (max-width:1200px) {
    #menu .menu_list li p { font-size: 2.5rem; }
    #menu .menu_list li p span { font-size: 1.6rem; }
}


@media (max-width:768px) {
    #menu .menu_list li p { font-size: 2rem; }
}


#pr_movie { background: url('../images/video_bg.png') no-repeat center 0 / 100% 70%; text-align: center; }
#pr_movie video { width: 100%; max-width: 1200px; border-radius: 30px; }
#pr_movie h2 { color: #fff; }
#pr_movie h2 span { display: block; font-size: 4rem; color: #000; }
#pr_movie h3 { color: var(--main-color); font-size: 3rem; }
#pr_movie h3 + p { color: #999; font-size: 2rem; }
#pr_movie .btn_more a { margin-top: 50px; }



/* event */
#event .inner { display: flex; flex-wrap: wrap; }
#event .s_tit { width: 30%; height: 200px; position: sticky; top: 100px; }

#event .event_list { padding: 100px 0 0; width: calc(100% - 30%); display: grid; gap: 40px; grid-template-columns: repeat(3,1fr); }
#event .event_col .event_item { border: 1px solid #ddd; border-radius: 20px; overflow: hidden; margin: 0 0 50px; }
#event .event_col:nth-child(2) { margin-top: -100px; }
#event .event_col .event_item img { width: 100%; display: block; }
#event .event_col .event_item dl { padding: 30px; }
#event .event_col .event_item dl dt { font-size: 1.8rem; padding: 0 0 10px; font-weight: 600; }
#event .event_col .event_item dl dd { color: #999; }
#event .btn_more { text-align: center; }

@media (max-width:1400px) {
    #event .s_tit { width: 100%; text-align: center; position: static; height: auto; }
    #event .s_tit p { display: none; }
    #event .event_list { width: 100%; }
}


@media (max-width:1000px) {
    #event .event_list { padding: 50px 0 0; grid-template-columns: repeat(2,1fr); }
    #event .event_col:nth-child(2) { margin-top: -50px; }
    #event .event_col:nth-child(n+3) { display: none; }
}

@media (max-width:768px) {
    #event .event_list { padding: 0; grid-template-columns: 100%; }
    #event .event_col:nth-child(n+2) { display: none; }
    #event .event_col .event_item { margin: 0 0 20px; }
    #event .event_col .event_item dl dt { font-size: 1.6rem; }
    #event .event_col .event_item dl dd { font-size: 1.4rem; }
}

#search { text-align: center; color: #fff; background: url('../images/s5_bg.png') no-repeat center / cover; }
#search .search_box { border-radius: 100px; height: 70px; background: #fff; display: flex; max-width: 800px; width: 100%; margin: 0 auto; overflow: hidden; padding: 5px; }
#search .search_box input[type="text"] { font-family: var(--main-font); width: calc(100% - 60px); padding: 0 30px; font-size: 2rem; }
#search .search_box input[type="submit"] { width: 60px; background: #000 url('../images/search_white.png') no-repeat center / 60%; border-radius: 50%; font-size: 0; cursor: pointer; }



/* footer */
#footer { position: relative; padding: 100px 0; background: #000; font-size: 1.4rem; color: #fff; }
#footer .inner { display: flex; justify-content: space-between; flex-wrap: wrap; gap: 20px; }
#footer .footer_link { display: flex; gap: 10px 20px; flex-wrap: wrap; }
#footer .footer_link li a { color: inherit; }

#footer .footer_sns { display: flex; flex-wrap: wrap; gap: 10px; }
#footer address { padding: 30px 0; color:#999; }
#footer .copy { color: #ccc; }



@media (max-width : 768px) {
    #footer { padding: 50px 0; }
}





