@charset "utf-8";

#header .gnb > li:nth-child(1) > a { color: #ffb500; }
#header .gnb > li:nth-child(1) .depth2 { display: block; }
#header .gnb .depth2 li:nth-child(1) a { color:#fff; background: #ffb500; }


.menu .menu_list li:nth-child(1) a::before { content: ''; transition: all 0.5s; transform: scale(1); display: block; width: 100%; height: 100%; border: 5px dotted rgba(0, 90, 213, 0.2); border-radius: 50%; position: absolute; left: 0; top: 0; box-sizing: border-box; }


.sns ul li:nth-child(2) a::before { content: ''; transition: all 0.5s; opacity: 1; width: 100%; height: 100%; background: rgba(0,0,0,0.8) url('../images/insta_fill.png') no-repeat center; position: absolute; left: 0; top: 0; }


.event .event_list li:nth-child(1) dl { transform: translateY(0); }

