@charset "utf-8";
/* CSS Document */



/* main */
#main section { margin: 200px 0; }

#main h2 { font-size:6rem; }
#main h2 + p { color: #999; padding-bottom: 50px; }


#main .btn_more a { transition: background 0.5s, color 0.5s; display:inline-block; padding:15px 60px; border:1px solid rgba(0,0,0,1); color: #000; border-radius: 5px; }
#main .btn_more a:hover { background:#67625e; color:#FFF; border: 1px solid #67625e; }



@media (max-width:1200px) {
    #main section { margin: 0 0 100px; }
    #main h2 { font-size:5rem; }
    #main h2 + p { padding-bottom: 40px; }
}

@media (max-width:768px) {
    #main h2 { font-size:4rem; }
    #main h2 + p { padding-bottom: 30px; }
    #main .btn_more a { padding:10px 30px 5px; font-size: 1.4rem; }
}




/* main_banner */
#main_banner { margin: 0 !important; }
#main_banner .mb li { height: 625px; display: flex; align-items: center; padding: 0 15%; }
#main_banner .mb li.mb1 { background: url('../images/main/mb1_bg.jpg') no-repeat center / cover; }
#main_banner .mb li.mb2 { background: url('../images/main/mb2_bg.png') no-repeat center / cover; }

#main_banner .mb li .mb_txt p { font-size: 2rem; }
#main_banner .mb li .mb_txt h3 { font-size: 5rem; padding: 20px 0; }
#main_banner .mb li .mb_txt .btn_more { margin: 30px 0 0; }


#main_banner .arrow { transition: background 0.3s; color: transparent; width: 70px; height: 70px; margin-top: -35px; }
#main_banner .prev { left: 0; background: rgba(0,0,0,0.2) url('../images/main/btn_prev.png') no-repeat center center; }
#main_banner .next { right: 0; background: rgba(0,0,0,0.2) url('../images/main/btn_next.png') no-repeat center center; }
#main_banner .arrow:hover { background-color: rgba(0,0,0,0.7); }


#main_banner .swiper-pagination { bottom: 50px; }

#main_banner .mb_play span,#main_banner .mb_pause span { position: absolute; left: 50%; transform: translateX(30px); bottom: 43px; z-index: 99; cursor: pointer; font-size: 4rem; }


@media (max-width:1024px) {
    #main_banner .mb li { height: 500px; padding: 0 5%; }
    #main_banner .mb li .mb_txt p { font-size: 1.6rem; }
    #main_banner .mb li .mb_txt h3 { font-size: 3.6rem; }
    #main_banner .arrow { display: none; }
}



/* news */
#news { margin: 50px 0 !important; }
#news .inner { max-width: 70%; background: #eee; display: flex; align-items: center; padding: 20px 50px; border-radius: 5px; }
#news h2 { font-size: 2rem; width: 150px; }
#news .news_list { width: calc(100% - 150px); height: 24px; }
#news .news_list li a { transition: color 0.5s; color: #999; }
#news .news_list li a:hover { color: #758246; }
#news .date { float: right; }

@media (max-width:1000px) {
    #news .inner { max-width: 90%; }
    #news h2 { display: none; }
    #news .news_list { width: 100%; }
    #news .date { display: none; }
}



/* prd */
#prd { text-align: center; }
#prd .inner { max-width: 100%; padding: 0; }
#prd .prd_list { padding-bottom: 80px; }
#prd .prd_list li img { width: 100%; display: block; }

#prd .prd_list li .thumbnail { background: #eee; margin-bottom: 30px; position: relative; }
#prd .prd_list li .thumbnail img:nth-child(2) { opacity: 0; transition: opacity 0.5s; position: absolute; left: 0; top: 0; width: 100%; background: #eee; }
#prd .prd_list li:hover .thumbnail img:nth-child(2) { opacity: 1; }
#prd .prd_list li .thumbnail .favorite { position: absolute; right: 20px; top: 20px; color: #999; }

#prd .prd_name { font-size: 2rem; }
#prd .price { color: #999; padding: 10px 0; }
#prd .btn_more { margin: 80px 0 0; }


#prd .swiper-scrollbar { width: 80%; left: 50%; transform: translateX(-50%); }
#prd .swiper-scrollbar-drag { background: #a89079; }



@media (max-width:1600px) {
    #prd .prd_list { padding-bottom: 30px; }
    #prd .btn_more { margin-top: 30px; }
}





/* teaware */
#teaware .inner { display: flex; flex-wrap: wrap; max-width: 100%; }
#teaware .sub_title { width: 26.423%; } /* 450px */
#teaware .teaware_brand { width: calc(100% - 26.423%); height: 520px; position: relative; padding-top: 20px; }

#teaware .teaware_brand ul { display: flex; gap: 40px; }
#teaware .teaware_brand ul li span { display: inline-block; font-size: 2rem; cursor: pointer; }
#teaware .teaware_brand ul li.active span { border-bottom: 3px solid #a89079; color: #a89079; }

#teaware .teaware_brand .brand_intro { display: none; position: absolute; height: 450px; left: 0; top: 70px; }
#teaware .teaware_brand .brand_intro img { width: 100%; height: 100%; object-fit: cover; }


@media (max-width:1400px) {
    #teaware .sub_title { width: 100%; text-align: center; }
    #teaware .teaware_brand { width: 100%; }
}


@media (max-width:1024px) {
    #teaware .teaware_brand { height: 470px; }
    #teaware .teaware_brand ul li { padding-right: 20px; }
    #teaware .teaware_brand ul li span { display: block; font-size: 1.6rem; }
    #teaware .teaware_brand ul li .brand_intro { top: 60px; height: 400px; }
}


@media (max-width:768px) {
    #teaware .teaware_brand { height: 370px; }
    #teaware .teaware_brand ul li .brand_intro { height: 300px; }
}







/* story */
#story { height: 600px; position: relative; overflow: hidden; }
#story video { width: 100%; height: 100%; position: absolute; object-fit: cover; }
#story .story_txt { background: rgba(0,0,0,0.5); position: absolute; width: 100%; height: 100%; text-align: center; display: flex; flex-direction: column; justify-content: center; color: #fff; }
#story .btn_more a { border:1px solid #FFF; color:#FFF; }
#story .btn_more a:hover { background:#FFF; color:#000; }


@media (max-width:1200px) {
    #story { height:550px; }
}


@media (max-width:768px) {
    #story { height:500px; }
}






/* insta */
#insta { position: relative; }
#insta .inner { display: flex; flex-wrap: wrap; max-width: 100%; }
#insta .sub_title { width: 26.423%; } /* 450px */
#insta .insta_list { width: calc(100% - 26.423%); display: grid; gap: 40px; grid-template-columns: repeat(4,1fr); }
#insta .insta_col .insta_item { padding: 0 0 50px; }
#insta .insta_col .insta_item img { width: 100%; display: block; }
#insta .insta_col .insta_item dl dt { font-size: 1.8rem; padding: 20px 0; }
#insta .insta_col .insta_item dl dd { color: #999; }
#insta .btn_more { position: absolute; left: 5%; top: 200px; }


@media (max-width:1400px) {
    #insta .sub_title { width: 100%; text-align: center; }
    #insta .insta_list { width: 100%; }
    #insta .btn_more { position: static; text-align: center; width: 100%; }
}


@media (max-width:1024px) {
    #insta .insta_list { grid-template-columns: repeat(2,1fr); }
    #insta .insta_col:nth-child(n+3) { display: none; }
    #insta .insta_col .insta_item { padding: 0 0 30px; }
    #insta .insta_col .insta_item dl dt { font-size: 1.6rem; }
    #insta .insta_col .insta_item dl dd { font-size: 1.4rem; }
}






/* museum */
#museum { text-align: center; }
#museum .inner { max-width: 100%; }
#museum ul { display: flex; justify-content: space-between; flex-wrap: wrap; }
#museum ul li { transition: width 1s; position: relative; width: calc((50% - 40px)/2); height: 450px; color: #fff; }
#museum ul li:nth-child(1) { background: url('../images/main/museum_01.jpg') no-repeat center / cover; }
#museum ul li:nth-child(2) { background: url('../images/main/museum_02.jpg') no-repeat center / cover; }
#museum ul li:nth-child(3) { background: url('../images/main/museum_03.jpg') no-repeat center / cover; }



#museum ul li .museum_txt { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 100%; }
#museum ul li h3 { font-size: 2.4rem; font-weight: 400; }
#museum ul li p { transition: opacity 1s; opacity: 0; color: rgba(255,255,255,1); margin-top: 20px; }
#museum .btn_more a { border:1px solid #FFF; color:#FFF; }
#museum .btn_more a:hover { background:#FFF; color:#000; }


#museum ul li.active { width: 50%; }
#museum ul li.active p { opacity: 1; }



/* Tablets */
@media (max-width : 1400px) {
    #museum ul li { width: calc((100% - 40px)/3); height: 350px; color: #fff; }
    #museum ul li:nth-child(-n+2) { margin-bottom: 20px; }
    #museum ul li p { opacity: 1; }
    #museum ul li h3 + p { display: none; }
    #museum ul li.active { width: calc((100% - 40px)/3); }
}


/* Mobile */
@media (max-width : 1024px) {
    #museum ul li { width: 100%; height: 200px; color: #fff; }
    #museum ul li:not(:last-child) { margin-bottom: 20px; }
    #museum ul li dd:nth-of-type(1) { display: none; }
    #museum ul li.active { width: 100%; }
    #museum ul li h3 { font-size: 2rem; }
}





