@charset "utf-8";


::-webkit-scrollbar { width: 8px; height: 3px; background: rgba(0,0,0,0.1); }
::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.3); border-radius: 5px; }
::selection { color: #fff; background: #000; }
::placeholder { color: #ccc; }


body { overflow-x: hidden; font-family: 'GmarketSans', sans-serif; font-size: 1.6rem; line-height: 1.5; color: #000; }
input, select, textarea { font-family: 'GmarketSans', sans-serif; font-size: 1.6rem; }


#container { padding: 100px 20px; max-width: 1200px; margin: 0 auto; }
#container h2 { font-size: 5rem; color: #2c7afd; }
#container h2 + p { font-size: 2rem; padding: 0 0 30px; color: #999; }
#container h3 { width: 100%; font-size: 2.5rem; padding: 0 0 10px; }
#container em { color: #2c7afd; }

[class*="item"] { width: 100%; padding: 20px 0 15px; border: 1px solid #abbad3; display: grid; grid-template-columns: 150px auto; gap: 5px; }
[class*="item"] h4 { font-weight: 400; padding: 0 20px; }

#container .contact { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
#container fieldset { margin: 80px 0; }

@media (max-width:900px) {
  #container { padding: 50px 20px; }
  #container h2 { font-size: 3rem; }
  #container h2 + p { font-size: 1.4rem; }
  #container h3 { font-size: 2rem; }
  #container fieldset { margin: 30px 0; }

  [class*="item"] { grid-template-columns: 1fr; }
}

/* field_01 */
.field_01 ul { display: flex; gap: 10px; flex-wrap: wrap; }
.field_01 input[type="checkbox"] { appearance: none; display: none; }
.field_01 input[type="checkbox"] + label { border: 1px solid #abbad3; border-radius: 50px; padding: 12px 30px 8px; display: inline-block; cursor: pointer; transition: all .3s; }
.field_01 input[type="checkbox"]:checked + label { background: #2c7afd; color: #fff; border: 1px solid #2c7afd; }


/* field_02 */
.field_02 { display: flex; gap: 10px; flex-wrap: wrap; }
.field_02 div:nth-of-type(-n+2) { width: calc((100% - 10px) / 2); }
.field_02 select { appearance: none; padding: 0 20px; background: url('../images/select_icon.png') no-repeat right 25px center; color: #000; }
.field_02 input { padding: 0 20px; }
.field_02 textarea { height: 300px; padding: 0 20px; resize: none; }
.field_02 input[type="file"] { display: none; }
.field_02 input[type="file"] + label { display: block; width: 100%; padding: 12px 20px; height: 60px; position: relative; font-size: 0; }
.field_02 input[type="file"] + label::before { content: '파일을 선택하세요!'; box-sizing: border-box; position: absolute; top: 19px; left: 20px; display: block; font-size: 1.6rem; color: #ccc; }
.field_02 input[type="file"] + label::after { content: '파일선택'; box-sizing: border-box; position: absolute; top: 0px; right: 0; height: 100%; padding: 19px 20px 0; display: block; background: #ddd; color: #fff; font-size: 1.6rem; cursor: pointer; }
.field_02 .item_06 { display: block; padding: 0; }

@media (max-width:900px) {
  .field_02 div:nth-of-type(-n+2) { width: 100%; }
}


/* field_03 */
.field_03 { display: flex; gap: 10px; flex-wrap: wrap; }
.field_03 h3 span { font-size: 1.6rem; float: right; }
.field_03 div { width: calc((100% - 10px) / 2); }
.field_03 input { padding: 0 20px; }

@media (max-width:900px) {
  .field_03 div { width: 100%; }
}


/* privacy */
.privacy_txt { border: 1px solid #ddd; padding: 20px; height: 200px; overflow: auto; color: #999; }
.privacy_txt p { padding: 0 0 20px; }

.privacy .btn_agree { padding: 20px 0; }
.privacy input[type="radio"] { display: none; }
.privacy input[type="radio"] + label { position: relative; padding: 0 0 0 30px; margin: 0 20px 0 0; }
.privacy input[type="radio"] + label:before { content: ''; display: inline-block; width: 20px; height: 20px; background: #eee url('../images/checkbox.png') no-repeat center; position: absolute; left: 0; top: -2px; transition: all .3s; }
.privacy input[type="radio"]:checked + label:before { background: #eee url('../images/checkbox_checked.png') no-repeat center; }


/* btn */
.btn { text-align: center; }
.btn input[type="submit"] { cursor: pointer; background: #2c7afd; color: #fff; padding: 5px 50px 0; height: 50px; border-radius: 100px; }



